<header class="header" >
    <!-- Topbar -->
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-12">
                    <!-- Contact -->
{#                    <ul class="top-link">#}
{#                        <li><a href="#">About</a></li>#}
{#                        <li><a href="#">Doctors</a></li>#}
{#                        <li><a href="#">Contact</a></li>#}
{#                        <li><a href="#">FAQ</a></li>#}
{#                    </ul>#}
                    <!-- End Contact -->
                </div>
                <div class="col-lg-6 col-md-7 col-12">
                    <!-- Top Contact -->
                    <ul class="top-contact">
                        <li><i class="fa fa-phone"></i>+225 07 59 637 013 / +225 07 78 167 796</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">benceemuci@gmail.com</a></li>
                    </ul>
                    <!-- End Top Contact -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <!-- Start Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="{{ asset('img/logo.png') }}" alt="#"></a>
                        </div>
                        <!-- End Logo -->
                        <!-- Mobile Nav -->
                        <div class="mobile-nav"></div>
                        <!-- End Mobile Nav -->
                    </div>
                    <div class="col-lg-7 col-md-9 col-12">
                        <!-- Main Menu -->
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul class="nav menu">
                                    <li class="active"><a href="{{ path('app') }}">Accueil</a></li>
                                    <li><a href="#">CEEMUCI <i class="icofont-rounded-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="#">Historique</a></li>
                                            <li><a href="#">Bureau National</a></li>
                                            <li><a href="#">Organes</a></li>
                                            <li><a href="#">Structure specialisée</a></li>
                                        </ul>
                                    </li>
{#                                    <li><a href="#">Services </a></li>#}
                                    <li><a href="#">Formation <i class="icofont-rounded-down"></i></a>
                                        <ul class="dropdown">
{#                                            <li><a href="404.html">404 Error</a></li>#}
                                            <li><a href="#">Seminaire National</a></li>
                                            <li><a href="#">Seminaire</a></li>
                                            <li><a href="#">Cours</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Activités <i class="icofont-rounded-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="#">Récensement</a></li>
                                            <li><a href="#">Carte de membre</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ path('contact') }}">Contacter</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--/ End Main Menu -->
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="get-quote">
                            <a href="#" class="btn">Se connecter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>